<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>462890700229-j2a706jul9ivb44k2h24ak23jnhid0kt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.462890700229-j2a706jul9ivb44k2h24ak23jnhid0kt</string>
	<key>API_KEY</key>
	<string>AIzaSyBlnAFvU-laLSWcOk9KhhnQxsI6z3tyI0k</string>
	<key>GCM_SENDER_ID</key>
	<string>462890700229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Nice.Day.app</string>
	<key>PROJECT_ID</key>
	<string>nice-day-v2</string>
	<key>STORAGE_BUCKET</key>
	<string>nice-day-v2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462890700229:ios:1c57a8d3fc02cd13aecfac</string>
	<key>DATABASE_URL</key>
	<string>https://nice-day-v2.firebaseio.com</string>
</dict>
</plist>